/*  your css code here. If applicable */
.border{
  background-color:#f5f5f5;
  padding:auto;
border:#f5f5f5;
}
.eq1{
  background-color:white;
  padding:auto;
  border:#f5f5f5;
	border: 1px solid;
}
.eq2{
  text-align:right;
  font-style:italic;
	 padding:auto;
}
.eq4{
  background-color:white;
  padding:auto;
  border: #f5f5f5;
	border: 1px solid;
}
.eq3{
  text-align:right;
  font-style:italic;
	 padding:auto;
}
