.testimonials{
  background-color: #f5f5f5;
  padding: auto;
  width: 100%;
}
.testimonialbox{
  background-color:white;
  padding: auto;
  border: #f5f5f5;
  color: black;
}
.Authorname{
  text-align: right;
  font-style: italic;
  color: black;
}